@font-face {
    font-family: 'animalCrossing';
    src: url('./utils/fink-heavy.ttf') format('truetype');
}

html {
    height: 100%;
    /* overflow: hidden; */
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'animalCrossing', Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    background-image: url("./utils/try2.png");
    background-repeat: repeat-x;
    background-size: 15%;
}

#to-do-title {
    color: black;
    font-family: 'animalCrossing', Arial, Helvetica, sans-serif;
    background-color: #e6c740d2;
    align-self: center;
    padding: 1%;
    margin: 1% 1% 1% 5%;
}
@media only screen and (max-width: 400px) {
    #to-do-title { 
        font-size: small;
    }
}

#project-creation {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 1%;
}

input[id=project-name] {
    height: 2rem;
    text-indent: 5%;
    box-sizing: border-box;
}

input[id=project-name]:focus {
    /* BORDER COLOUR DOESNT WORK */
    /* border-color:rgb(248, 164, 7); */
    outline-color: rgb(248, 164, 7);
}

input[type=submit] {
    width: 2rem;
    height: 2rem;
    background-color: rgb(174, 243, 200);
    border: 0px;
    border-radius: 15%;
}

/* body now */

#project-body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/G79YngbW86RJ2QtzFfZEu3.jpg");
    /* background-image: url("https://twinfinite.net/wp-content/uploads/2020/03/animal-crossing-new-horizons-pink-cherry-blossom.jpg?resize=1000%2C477"); */
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
}

.project {
    /* justify-content: center;
    align-items: center; */
    background-color: #e3d8a6e1;
    margin: 1.5% 1%;
    padding: 1% 4%;
    border: 3px solid gold;
    border-radius: 2%;
    height: fit-content;
    font-size: x-large;
    /* to support mobile view */
    max-width: 600px;
}

.project > h3 {
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    overflow-wrap: normal;
    margin-bottom: 0.2em;
}

.project-icon {
    width: 30px;
    height: 35px;
    margin-right: 0.2em;
}

button {
    background-color:rgb(174, 243, 200);
    text-align: center;
    margin: 0 auto;
    font-size: large;
    padding: 0.5rem;
    width: auto;
    border-radius: 10%;
    border: 1px solid grey;
}

/* edit button */
.edit-button {
    background-color: #f5baf7ec;
}

/* tasks */
li {
    list-style-position: inside;
    list-style-image: url("./utils/rsz_11animal_crossing_leafsvg.png");
    padding-top: 0.4em; 
}

.priority {
    text-decoration: solid;
    background-color: rgba(248, 145, 145, 0.911);
    width: max-content;
}

.title {
    font-size: x-large;
    display: inline-block;
}

.date {
    margin: 0 0 0 1em;
    float: right;
    color: #5cb6da;
}

.desc {
    font-size: large;
    color: rgb(128, 126, 126);
}

/* form inputs */
.add-task-container {
    display: flex;
    justify-content: center;
}

.add-task-form > * {
    display: block;
    font-size: medium;
}

.task-priority-label, .task-priority
{
    display: inline-block;
    vertical-align:middle;
}

.task-priority {
    margin-left: 3%;
    margin-bottom: 0.5%;
}

.task-submit {
    background-color:rgba(243, 175, 111, 0.822);
    display: flex;
    text-align: center;
    font-size: large;
    align-items: center;
    border-radius: 10%;
    border: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 2% 2%;
}

